GPScriptEngine/profiles/GP ApplicationProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by et8 (et8) -->
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Erick Wong (Emerging Technologies) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<gp:schema xmlns:gp="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<gp:element name="ApplicationInfo">
		<gp:annotation>
			<gp:documentation>Contains all the general information about the application.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Privileges"/>
				<gp:element ref="LifeCycles"/>
				<gp:element ref="Codes"/>
			</gp:sequence>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="Type" type="application" use="required"/>
			<gp:attribute name="SubType" type="applicationsubtype" use="required"/>
			<gp:attribute name="Owner" type="gp:string" use="required"/>
			<gp:attribute name="Developer" type="gp:string" use="required"/>
			<gp:attribute name="Provider" type="gp:string" use="required"/>
			<gp:attribute name="Domain" type="gp:string" use="required"/>
			<gp:attribute name="VolatileDataSpaceMin" type="gp:integer" use="required"/>
			<gp:attribute name="NonVolatileDataSpaceMin" type="gp:integer" use="required"/>
			<gp:attribute name="VolatileDataSpaceMax" type="gp:integer"/>
			<gp:attribute name="NonVolatileDataSpaceMax" type="gp:integer"/>
			<gp:attribute name="AppSpecificInstallParams" type="gp:hexBinary"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ApplicationProfile">
		<gp:annotation>
			<gp:documentation>The parent or root element of an Application Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Revisions"/>
				<gp:element ref="ConflictRules"/>
				<gp:element ref="ApplicationInfo"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="DataElement" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Function" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="SecureChannel" minOccurs="0"/>
				<gp:element ref="ScriptFragment" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
			<gp:attribute name="UniqueID" type="gp:hexBinary" use="required"/>
			<gp:attribute name="ProfileVersion" type="version" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="CloseSecureChannel">
		<gp:annotation>
			<gp:documentation>Script for closing a secure channel when the application is a Security Domain.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Declaration" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Script"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Code">
		<gp:annotation>
			<gp:documentation>Refers to the Load File and Module within this Load File which contains the applet code for the application.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="ProfileID" type="gp:string" use="optional"/>
			<gp:attribute name="ModuleID" type="gp:integer" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Codes">
		<gp:annotation>
			<gp:documentation>Describes the different load files where the applet code for the application can be found.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Code" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="ConflictRule">
		<gp:annotation>
			<gp:documentation>General conflict rule representation.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Source" type="gp:string" use="required"/>
			<gp:attribute name="Target" type="gp:string" use="required"/>
			<gp:attribute name="Rule" type="rule" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ConflictRules">
		<gp:annotation>
			<gp:documentation>Contains the rules which the profile must satisfy before being utilized.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="ConflictRule" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="DataElement">
		<gp:annotation>
			<gp:documentation>Externally provided parameters and data used by the scripts defined for this application.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Field" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="External" type="gp:boolean" use="required"/>
			<gp:attribute name="Type" type="dataType" use="required"/>
			<gp:attribute name="Encoding" type="encoding" use="required"/>
			<gp:attribute name="FixedLength" type="gp:boolean"/>
			<gp:attribute name="Length" type="gp:integer"/>
			<gp:attribute name="Value" type="gp:string"/>
			<gp:attribute name="Tag" type="gp:hexBinary"/>
			<gp:attribute name="TagEncoding" type="tagEncoding"/>
			<gp:attribute name="ReadWrite" type="gp:boolean"/>
			<gp:attribute name="Update" type="gp:boolean"/>
			<gp:attribute name="Optional" type="gp:boolean"/>
			<gp:attribute name="MandatoryAudit" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Declaration">
		<gp:annotation>
			<gp:documentation>Minimum required parameters and data for the specific script fragment.  Also, provides a mechanism for overriding the default characteristics of the data element.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="External" type="gp:boolean"/>
			<gp:attribute name="Encoding" type="gp:string"/>
			<gp:attribute name="Value" type="gp:string"/>
			<gp:attribute name="ReadWrite" type="gp:boolean"/>
			<gp:attribute name="Update" type="gp:string"/>
			<gp:attribute name="Optional" type="gp:boolean"/>
			<gp:attribute name="MandatoryAudit" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Description" type="gp:string"/>
	<gp:annotation>
		<gp:documentation>General freeform container for description text fields.</gp:documentation>
	</gp:annotation>
	<gp:element name="Field">
		<gp:annotation>
			<gp:documentation>Characteristics of the data field.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="Type" type="gp:string" use="required"/>
			<gp:attribute name="Offset" type="gp:integer" use="required"/>
			<gp:attribute name="Length" type="gp:integer" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Function">
		<gp:annotation>
			<gp:documentation>Application defined script functions which will be used by the script fragments.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Declaration" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Script"/>
			</gp:sequence>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="Param" type="gp:string" use="optional"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Key">
		<gp:annotation>
			<gp:documentation>Specific key definition inheriting features of a specified Key Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="ProfileID" type="gp:hexBinary" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="LifeCycle">
		<gp:annotation>
			<gp:documentation>Specific lifecycle information.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="Value" type="gp:hexBinary"/>
			<gp:attribute name="Label" type="gp:string"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="LifeCycles">
		<gp:annotation>
			<gp:documentation>The supported lifecycle states.  Will include at a minimum the GlobalPlatform standard application lifecycle states.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="LifeCycle" minOccurs="3" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="OpenSecureChannel">
		<gp:annotation>
			<gp:documentation>Script for opening a secure channel when the application is a Security Domain.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Declaration" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Script"/>
			</gp:sequence>
			<gp:attribute name="Param" type="gp:string" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Privileges">
		<gp:annotation>
			<gp:documentation>GlobalPlatform standard application privileges.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="SecurityDomain" type="gp:boolean"/>
			<gp:attribute name="DAPVerification" type="gp:boolean"/>
			<gp:attribute name="DelegatedManagement" type="gp:boolean"/>
			<gp:attribute name="CardManagerLock" type="gp:boolean"/>
			<gp:attribute name="CardTerminate" type="gp:boolean"/>
			<gp:attribute name="DefaultSelected" type="gp:boolean"/>
			<gp:attribute name="CVMChange" type="gp:boolean"/>
			<gp:attribute name="ManadatedDAPVerification" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revision">
		<gp:annotation>
			<gp:documentation>Specific revision information.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Signature" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="ProfileID" type="gp:hexBinary"/>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="Date" type="gp:date" use="required"/>
			<gp:attribute name="Time" type="gp:time" use="required"/>
			<gp:attribute name="By" type="gp:string" use="required"/>
			<gp:attribute name="Digest" type="gp:hexBinary" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revisions">
		<gp:annotation>
			<gp:documentation>Container for a list of revision notices.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Revision" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Script">
		<gp:annotation>
			<gp:documentation>GlobalPlatform script code.</gp:documentation>
		</gp:annotation>
	</gp:element>
	<gp:element name="ScriptFragment">
		<gp:annotation>
			<gp:documentation>Script fragment for one particular stage in the card customization process.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="ConflictRules" minOccurs="0"/>
				<gp:element ref="Declaration" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Script"/>
			</gp:sequence>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="StartLifeCycle" type="gp:string" use="required">
				<gp:annotation>
					<gp:documentation>Life cycle required to run this script</gp:documentation>
				</gp:annotation>
			</gp:attribute>
			<gp:attribute name="EndLifeCycle" type="gp:string" use="required">
				<gp:annotation>
					<gp:documentation>New life cycle if no execution errors</gp:documentation>
				</gp:annotation>
			</gp:attribute>
			<gp:attribute name="SecureChannel" type="secureChannel" use="optional"/>
			<gp:attribute name="SecurityLevel" type="securityLevel" use="optional"/>
			<gp:attribute name="Active" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="SecureChannel">
		<gp:annotation>
			<gp:documentation>Valid only if the application is a Security Domain.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="OpenSecureChannel" minOccurs="0"/>
				<gp:element ref="CloseSecureChannel" minOccurs="0"/>
				<gp:element ref="Wrap" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="SecureChannel" type="secureChannel" use="required"/>
			<gp:attribute name="Option" type="gp:hexBinary" use="optional"/>
			<gp:attribute name="SecurityLevel" type="securityLevel" use="optional"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Signature">
		<gp:annotation>
			<gp:documentation>Signature for profile authentication purposes.</gp:documentation>
		</gp:annotation>
		<gp:complexType/>
	</gp:element>
	<gp:element name="Wrap">
		<gp:annotation>
			<gp:documentation>Script for wrapping APDUs when the application is a Security Domain (or equivalent) for a general application.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Declaration" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Key" minOccurs="0" maxOccurs="unbounded"/>
				<gp:element ref="Script"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:simpleType name="lengthType">
		<gp:restriction base="gp:NMTOKENS">
			<gp:enumeration value="FIX"/>
			<gp:enumeration value="VAR"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="version">
		<gp:annotation>
			<gp:documentation>GlobalPlatform specification version adhered to.  The scripting version must always match the profile version.</gp:documentation>
		</gp:annotation>
		<gp:restriction base="gp:string">
			<gp:pattern value="\d\.\d\.\d"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="application">
		<gp:restriction base="gp:string">
			<gp:enumeration value="OP"/>
			<gp:enumeration value="MULTOS"/>
			<gp:enumeration value="W4SC"/>
			<gp:enumeration value="OTHER"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="applicationsubtype">
		<gp:restriction base="gp:string">
			<gp:enumeration value="CM"/>
			<gp:enumeration value="SD"/>
			<gp:enumeration value="APP"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="encoding">
		<gp:restriction base="gp:string">
			<gp:enumeration value="HEX"/>
			<gp:enumeration value="ASCII"/>
			<gp:enumeration value="BASE64"/>
			<gp:enumeration value="UTF8"/>
			<gp:enumeration value="CN"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="dataType">
		<gp:restriction base="gp:string">
			<gp:enumeration value="BYTESTRING"/>
			<gp:enumeration value="ByteString (Tag Specified)"/>
			<gp:enumeration value="BYTEBUFFER"/>
			<gp:enumeration value="STRING"/>
			<gp:enumeration value="NUMBER"/>
			<gp:enumeration value="BOOLEAN"/>
			<gp:enumeration value="OBJECT"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="secureChannel">
		<gp:restriction base="gp:string">
			<gp:enumeration value="NONE"/>
			<gp:enumeration value="SCP01"/>
			<gp:enumeration value="SCP02"/>
			<gp:enumeration value="OTHER"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="securityLevel">
		<gp:restriction base="gp:string">
			<gp:enumeration value="C_MAC_R_MAC_ENC"/>
			<gp:enumeration value="C_MAC_R_MAC"/>
			<gp:enumeration value="C_MAC"/>
			<gp:enumeration value="C_MAC_ENC"/>
			<gp:enumeration value="R_MAC"/>
			<gp:enumeration value="NO_SECURITY_LEVEL"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="rule">
		<gp:restriction base="gp:string">
			<gp:enumeration value="=="/>
			<gp:enumeration value="!="/>
			<gp:enumeration value="&gt;"/>
			<gp:enumeration value="&lt;"/>
			<gp:enumeration value="&gt;="/>
			<gp:enumeration value="&lt;="/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="tagEncoding">
		<gp:restriction base="gp:string">
			<gp:enumeration value="EMV"/>
			<gp:enumeration value="DGI"/>
		</gp:restriction>
	</gp:simpleType>
</gp:schema>
