GPScriptEngine/profiles/GP CardProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Erick Wong (Emerging Technologies) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<gp:schema xmlns:gp="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<gp:element name="Algorithm">
		<gp:annotation>
			<gp:documentation>Cryptographic functionality.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ApplicationInstance">
		<gp:annotation>
			<gp:documentation>Information about an application which is present on the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Privileges" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="ProfileID" type="gp:hexBinary" use="required"/>
			<gp:attribute name="Label" type="gp:string"/>
			<gp:attribute name="Aid" type="gp:hexBinary" use="required"/>
			<gp:attribute name="LifeCycle" type="gp:string" use="required"/>
			<gp:attribute name="SecurityDomain" type="gp:hexBinary"/>
			<gp:attribute name="VolatileDataSpaceLimit" type="gp:integer"/>
			<gp:attribute name="NonVolatileDataSpaceLimit" type="gp:integer"/>
			<gp:attribute name="AppSpecificInstallParams" type="gp:hexBinary"/>
			<gp:attribute name="Order" type="gp:integer"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ApplicationInstances">
		<gp:annotation>
			<gp:documentation>Container for all the applications which are present on the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="ApplicationInstance" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="CardInfo">
		<gp:annotation>
			<gp:documentation>Contains information about the smart card resources and application specific fields used to manage the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="ResourcesAvailable"/>
				<gp:element ref="OnLoad"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="CardManufacturer">
		<gp:annotation>
			<gp:documentation>Information about the manufacturer of the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="PlasticStockID" type="gp:string"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="CardManufacturerProduct">
		<gp:annotation>
			<gp:documentation>Characteristics of the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="CardManufacturer"/>
				<gp:element ref="Chip"/>
				<gp:element ref="Platform"/>
			</gp:sequence>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="Version" type="version" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="CardProfile">
		<gp:annotation>
			<gp:documentation>Contains all the manufacturer provided information about the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Revisions"/>
				<gp:element ref="CardManufacturerProduct"/>
				<gp:element ref="ConflictRules"/>
				<gp:element ref="LoadFileInstances"/>
				<gp:element ref="ApplicationInstances"/>
				<gp:element ref="CardInfo"/>
			</gp:sequence>
			<gp:attribute name="UniqueID" type="gp:hexBinary" use="required"/>
			<gp:attribute name="ProfileVersion" type="version" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Chip">
		<gp:annotation>
			<gp:documentation>Contains all the general information about the chip present on the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Resources"/>
				<gp:element ref="Powers"/>
				<gp:element ref="Clock" minOccurs="0"/>
				<gp:element ref="Communication"/>
				<gp:element ref="CryptoEngine" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="Model" type="gp:string" use="required"/>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="ChipManufacturer" type="gp:string" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Clock">
		<gp:annotation>
			<gp:documentation>Clock speed support.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Unit" type="gp:string" use="required"/>
			<gp:attribute name="Min" type="gp:decimal" use="required"/>
			<gp:attribute name="Max" type="gp:decimal" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Communication">
		<gp:annotation>
			<gp:documentation>Communication support for both contact and contactless smart cards.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Contact" minOccurs="0"/>
				<gp:element ref="Contactless" minOccurs="0"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="ConflictRule">
		<gp:annotation>
			<gp:documentation>General conflict rule representation.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Source" type="gp:string" use="required"/>
			<gp:attribute name="Target" type="gp:string" use="required"/>
			<gp:attribute name="Rule" type="rule" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ConflictRules">
		<gp:annotation>
			<gp:documentation>Contains the rules which the profile must satisfy before being utilized.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="ConflictRule" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Contact">
		<gp:annotation>
			<gp:documentation>Information specific to contact smart cards.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Protocols"/>
			</gp:sequence>
			<gp:attribute name="PPS" type="gp:boolean"/>
			<gp:attribute name="Unit" type="gp:string"/>
			<gp:attribute name="BaudRateMin" type="gp:integer"/>
			<gp:attribute name="BaudRateMax" type="gp:integer"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Contactless">
		<gp:annotation>
			<gp:documentation>Information specific to contactless smart cards.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Protocols"/>
			</gp:sequence>
			<gp:attribute name="Unit" type="gp:string"/>
			<gp:attribute name="BaudRateMin" type="gp:integer"/>
			<gp:attribute name="BaudRateMax" type="gp:integer"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="CryptoEngine">
		<gp:annotation>
			<gp:documentation>Describes characteristics of the cryptographic engine in terms of key type and algorithm support.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="KeyTypes"/>
				<gp:element ref="Algorithm" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Description" type="gp:string"/>
	<gp:annotation>
		<gp:documentation>General freeform container for description text fields.</gp:documentation>
	</gp:annotation>
	<gp:element name="KeyType">
		<gp:annotation>
			<gp:documentation>Characteristics of the key.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="MaxLength" type="gp:integer" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="KeyTypes">
		<gp:annotation>
			<gp:documentation>Placeholder element for one or more KeyTypes elements.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="KeyType" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="LoadFileInstance">
		<gp:annotation>
			<gp:documentation>A load file which is installed on a smart card corresponding to the Card Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="ProfileID" type="gp:hexBinary" use="required"/>
			<gp:attribute name="Label" type="gp:string"/>
			<gp:attribute name="LifeCycle" type="gp:string" use="required"/>
			<gp:attribute name="Masked" type="gp:boolean" use="required"/>
			<gp:attribute name="SecurityDomainAid" type="gp:hexBinary"/>
			<gp:attribute name="Order" type="gp:integer"/>
			<gp:attribute name="NonVolatileCodeSpaceLimit" type="gp:integer"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="LoadFileInstances">
		<gp:annotation>
			<gp:documentation>Characteristics of a particular load file on the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="LoadFileInstance" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Platform">
		<gp:annotation>
			<gp:documentation>Platform supported by the chip.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Type" type="gp:string" use="required"/>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="OSPlatform" type="gp:string" use="required"/>
			<gp:attribute name="OSVersion" type="version" use="required"/>
			<gp:attribute name="Implementor" type="gp:string"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Power">
		<gp:annotation>
			<gp:documentation>Power support offered by the chip.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Unit" type="gp:string" use="required"/>
			<gp:attribute name="Value" type="gp:decimal" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Powers">
		<gp:annotation>
			<gp:documentation>Placeholder element for one or more Power elements.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Power" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Privileges">
		<gp:annotation>
			<gp:documentation>GlobalPlatform standard application privileges.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="SecurityDomain" type="gp:boolean"/>
			<gp:attribute name="DAPVerification" type="gp:boolean"/>
			<gp:attribute name="DelegatedManagement" type="gp:boolean"/>
			<gp:attribute name="CardManagerLock" type="gp:boolean"/>
			<gp:attribute name="CardTerminate" type="gp:boolean"/>
			<gp:attribute name="DefaultSelected" type="gp:boolean"/>
			<gp:attribute name="CVMChange" type="gp:boolean"/>
			<gp:attribute name="ManadatedDAPVerification" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Protocol">
		<gp:annotation>
			<gp:documentation>Protocol support offered by the chip.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Type" type="protocol" use="required"/>
			<gp:attribute name="MaxApduLen" type="gp:integer" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Protocols">
		<gp:annotation>
			<gp:documentation>Placeholder element for one or more Protocol elements.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Protocol" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Resources">
		<gp:annotation>
			<gp:documentation>Resources of the chip.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Unit" type="gp:string" use="required"/>
			<gp:attribute name="ROM" type="gp:integer" use="required"/>
			<gp:attribute name="RAM" type="gp:integer" use="required"/>
			<gp:attribute name="EEPROM" type="gp:integer" use="required"/>
			<gp:attribute name="Flash" type="gp:integer" use="required"/>
			<gp:attribute name="GarbageCollection" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="ResourcesAvailable">
		<gp:annotation>
			<gp:documentation>Resources remaining on the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Unit" type="gp:string" use="required"/>
			<gp:attribute name="RAM" type="gp:integer" use="required"/>
			<gp:attribute name="EEPROM" type="gp:integer" use="required"/>
			<gp:attribute name="Flash" type="gp:integer" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revision">
		<gp:annotation>
			<gp:documentation>Specific revision information.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Signature" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="ProfileID" type="gp:hexBinary"/>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="Date" type="gp:date" use="required"/>
			<gp:attribute name="Time" type="gp:time" use="required"/>
			<gp:attribute name="By" type="gp:string" use="required"/>
			<gp:attribute name="Digest" type="gp:hexBinary" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revisions">
		<gp:annotation>
			<gp:documentation>Container for a list of revision notices.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Revision" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="OnLoad">
		<gp:annotation>
			<gp:documentation>Container for implementation/application specific fields used to manage the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="SimpleScript" minOccurs="0"/>
				<gp:element ref="Execute" minOccurs="0" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="SimpleScript">
		<gp:annotation>
			<gp:documentation>A script without external data, parameter or key references which is executed after the initial card access by the device.</gp:documentation>
		</gp:annotation>
	</gp:element>
	<gp:element name="Execute">
		<gp:annotation>
			<gp:documentation>Implementation/Application specific field used to manage the smart card.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Name" type="gp:string" use="required"/>
			<gp:attribute name="ScriptName" type="gp:string"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Signature">
		<gp:annotation>
			<gp:documentation>Signature for profile authentication purposes.</gp:documentation>
		</gp:annotation>
		<gp:complexType/>
	</gp:element>
	<gp:simpleType name="version">
		<gp:annotation>
			<gp:documentation>GlobalPlatform specification version adhered to.  The scripting version must always match the profile version.</gp:documentation>
		</gp:annotation>
		<gp:restriction base="gp:string">
			<gp:pattern value="\d\.\d\.\d"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="protocol">
		<gp:restriction base="gp:string">
			<gp:enumeration value="T0"/>
			<gp:enumeration value="T1"/>
			<gp:enumeration value="T14"/>
			<gp:enumeration value="TYPEA"/>
			<gp:enumeration value="TYPEB"/>
			<gp:enumeration value="OTHER"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="algorithm">
		<gp:restriction base="gp:string">
			<gp:enumeration value="DES"/>
			<gp:enumeration value="3DES_3KEY"/>
			<gp:enumeration value="3DES_2KEY"/>
			<gp:enumeration value="DESX"/>
			<gp:enumeration value="RSA"/>
			<gp:enumeration value="DSA"/>
			<gp:enumeration value="OTHER"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="algoMode">
		<gp:restriction base="gp:string">
			<gp:enumeration value="ECB"/>
			<gp:enumeration value="ECB_PAD"/>
			<gp:enumeration value="CBC"/>
			<gp:enumeration value="CBC_IV8"/>
			<gp:enumeration value="PUBLIC_KEY"/>
			<gp:enumeration value="PRIVATE_KEY"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="encoding">
		<gp:restriction base="gp:string">
			<gp:enumeration value="HEX"/>
			<gp:enumeration value="ASCII"/>
			<gp:enumeration value="BASE64"/>
			<gp:enumeration value="UTF8"/>
			<gp:enumeration value="CN"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="dataType">
		<gp:restriction base="gp:string">
			<gp:enumeration value="BYTESTRING"/>
			<gp:enumeration value="BYTEBUFFER"/>
			<gp:enumeration value="STRING"/>
			<gp:enumeration value="NUMBER"/>
			<gp:enumeration value="BOOLEAN"/>
			<gp:enumeration value="OBJECT"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="rule">
		<gp:restriction base="gp:string">
			<gp:enumeration value="=="/>
			<gp:enumeration value="!="/>
			<gp:enumeration value="&gt;"/>
			<gp:enumeration value="&lt;"/>
			<gp:enumeration value="&gt;="/>
			<gp:enumeration value="&lt;="/>
		</gp:restriction>
	</gp:simpleType>
</gp:schema>
