trunk/GPScriptEngine/profiles/GP KeyProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Erick Wong (Emerging Technologies) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<gp:schema xmlns:gp="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<gp:element name="Attribute">
		<gp:annotation>
			<gp:documentation>The attribute of a key which references the Key Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Permanent" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Blob">
		<gp:annotation>
			<gp:documentation>The format in which the key which references the Key Profile is represented.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="BlobFormat" type="blobFormat"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Description" type="gp:string"/>
	<gp:annotation>
		<gp:documentation>General freeform container for description text fields.</gp:documentation>
	</gp:annotation>
	<gp:element name="KeyInfo">
		<gp:annotation>
			<gp:documentation>General information which a key which references the Key Profile inherits.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Type" type="key"/>
			<gp:attribute name="SubType" type="gp:string"/>
			<gp:attribute name="Size" type="gp:integer"/>
			<gp:attribute name="Exponent" type="gp:integer"/>
			<gp:attribute name="Owner" type="gp:hexBinary"/>
			<gp:attribute name="Version" type="gp:hexBinary"/>
			<gp:attribute name="StartDate" type="gp:date"/>
			<gp:attribute name="EndDate" type="gp:date"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="KeyProfile">
		<gp:annotation>
			<gp:documentation>Parent or root element for a Key Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Revisions"/>
				<gp:element ref="KeyInfo"/>
				<gp:element ref="Attribute"/>
				<gp:element ref="Usage"/>
				<gp:element ref="Blob"/>
			</gp:sequence>
			<gp:attribute name="UniqueID" type="gp:hexBinary" use="required"/>
			<gp:attribute name="ProfileVersion" type="version" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revision">
		<gp:annotation>
			<gp:documentation>Specific revision information.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Description" minOccurs="0"/>
				<gp:element ref="Signature" minOccurs="0"/>
			</gp:sequence>
			<gp:attribute name="ProfileID" type="gp:hexBinary"/>
			<gp:attribute name="Version" type="version" use="required"/>
			<gp:attribute name="Date" type="gp:date" use="required"/>
			<gp:attribute name="Time" type="gp:time" use="required"/>
			<gp:attribute name="By" type="gp:string" use="required"/>
			<gp:attribute name="Digest" type="gp:hexBinary" use="required"/>
		</gp:complexType>
	</gp:element>
	<gp:element name="Revisions">
		<gp:annotation>
			<gp:documentation>Container for a list of revision notices.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:sequence>
				<gp:element ref="Revision" maxOccurs="unbounded"/>
			</gp:sequence>
		</gp:complexType>
	</gp:element>
	<gp:element name="Signature">
		<gp:annotation>
			<gp:documentation>Signature for profile authentication purposes.</gp:documentation>
		</gp:annotation>
		<gp:complexType/>
	</gp:element>
	<gp:element name="Usage">
		<gp:annotation>
			<gp:documentation>Cryptographic operations which can be performed with a key which references the Key Profile.</gp:documentation>
		</gp:annotation>
		<gp:complexType>
			<gp:attribute name="Encrypt" type="gp:boolean"/>
			<gp:attribute name="Decrypt" type="gp:boolean"/>
			<gp:attribute name="DecryptEncrypt" type="gp:boolean"/>
			<gp:attribute name="Sign" type="gp:boolean"/>
			<gp:attribute name="SignRecover" type="gp:boolean"/>
			<gp:attribute name="Verify" type="gp:boolean"/>
			<gp:attribute name="VerifyRecover" type="gp:boolean"/>
			<gp:attribute name="Wrap" type="gp:boolean"/>
			<gp:attribute name="Unwrap" type="gp:boolean"/>
			<gp:attribute name="UnwrapWrap" type="gp:boolean"/>
			<gp:attribute name="Derive" type="gp:boolean"/>
			<gp:attribute name="GenerateKey" type="gp:boolean"/>
		</gp:complexType>
	</gp:element>
	<gp:simpleType name="version">
		<gp:annotation>
			<gp:documentation>GlobalPlatform specification version adhered to.  The scripting version must always match the profile version.</gp:documentation>
		</gp:annotation>
		<gp:restriction base="gp:string">
			<gp:pattern value="\d\.\d\.\d"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="blobFormat">
		<gp:restriction base="gp:string">
			<gp:enumeration value="NONE"/>
			<gp:enumeration value="CRT_PRIVATE"/>
			<gp:enumeration value="PKCS1"/>
			<gp:enumeration value="PKCS3"/>
			<gp:enumeration value="PKCS7"/>
			<gp:enumeration value="PKCS8"/>
			<gp:enumeration value="X509"/>
			<gp:enumeration value="OTHER"/>
		</gp:restriction>
	</gp:simpleType>
	<gp:simpleType name="key">
		<gp:restriction base="gp:string">
			<gp:enumeration value="SECRET"/>
			<gp:enumeration value="PRIVATE"/>
			<gp:enumeration value="PUBLIC"/>
			<gp:enumeration value="RFU"/>
		</gp:restriction>
	</gp:simpleType>
</gp:schema>
